$duration-xs: 100ms;
$duration-sm: 200ms;
$duration-md: 300ms;
$duration-lg: 600ms;

$easing-common: ease-in-out;

$font-gotham-pro: 'Gotham Pro', sans-serif;
$font-century-gothic: 'Century Gothic', sans-serif;
$font-adobe-garamond-pro: 'Adobe Garamond Pro', serif;
$font-cormorant-unicase: 'Cormorant Unicase', serif;

$screen-mobile: 320px;
$screen-tablet: 768px;
$screen-desktop-lg: 1280px;
$screen-desktop-xl: 1440px;
$screen-desktop-xxl: 1920px;
