$duration-xs: 100ms;
$duration-sm: 200ms;
$duration-md: 300ms;
$duration-lg: 600ms;

$easing-common: ease-in-out;

$font-gotham-pro: var(--font-gotham-pro);
$font-century-gothic: var(--font-century-gothic);
$font-adobe-garamond-pro: var(--font-adobe-garamond);
$font-cormorant-unicase: var(--font-cormorant-unicase);

$screen-mobile: 320px;
$screen-tablet: 768px;
$screen-desktop-lg: 1280px;
$screen-desktop-xl: 1440px;
$screen-desktop-xxl: 1920px;
