.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;

  opacity: 1;
  background-color: var(--main, #262626);
  border: 1px solid;
  border-color: var(--white, #ffffff);
  border-radius: 50%;

  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out,
    scale 200ms ease-in-out;

  cursor: pointer;

  &:is(:not(.swiper-pagination-bullet-active):hover, :focus-visible) {
    scale: 1.1;
  }
}

.swiper-pagination-bullet-active {
  background-color: var(--white, #ffffff);
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.bgWrapper.home {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
    url('../assets/images/home/footer_bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bgWrapper.about {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
    url('../assets/images/about/footer_bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bgWrapper.grabAndGo {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
    url('../assets/images/grab-and-go/footer_bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
