:root {
  --white: #ffffff;
  --golden: #be8900;
  --dark-bg: #1a1a1a;
  --light-grey: #c0c0c0;
  --default-text: #828282;
  --main: #262626;

  --font-gotham-pro: 'Gotham Pro', sans-serif;
  --font-century-gothic: 'Century Gothic', sans-serif;
  --font-adobe-garamond: 'Adobe Garamond Pro', serif;
  --font-cormorant-unicase: 'Cormorant Unicase', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: var(--font-century-gothic), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;

  text-rendering: optimizeSpeed;
  color: var(--white, #ffffff);
  line-height: normal;
  font-weight: 400;
  font-size: 16px;

  background-color: var(--dark-bg, #1a1a1a);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../assets/images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  overflow: hidden;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.hidden {
  position: absolute;

  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
