@import '@/styles/mixins';
@import '@/styles/variables';

$frame-width: 780px;
$frame-height: 416px;

.section {
  padding-top: 36px;
  min-height: 832px;

  @include desktop-lg {
    padding-top: 0;
  }
}

.container {
  padding-inline: 24px;

  @include desktop-lg {
    padding-inline: 48px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 260px;

  max-width: $frame-width;

  @include desktop-lg {
    position: absolute;
    top: 0;
    left: 10%;

    padding-block: 20px;
    padding-left: 94px;
    padding-right: 100px;

    gap: 40px;
  }
}

.title {
  color: var(--white, #fff);
  font-family: $font-cormorant-unicase;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  white-space: pre-line;

  @include tablet {
    font-size: 3.25rem;
  }
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.description {
  line-height: 1.4em;
}

.link {
  align-self: flex-end;
}

.sliderWrapper {
  position: absolute;
  top: 72px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  @include desktop-lg {
    top: 0;
  }
}

.pagination {
  position: absolute;
  bottom: 48px;

  display: flex;
  align-items: center;
  gap: 12px;

  margin-inline: auto;
  width: fit-content;

  @include desktop-lg {
    bottom: 194px;
    right: 284px;
  }
}

.slider {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 73%, #0e0d0d 100%),
      linear-gradient(0deg, rgba(21, 20, 19, 0.5) 0%, rgba(21, 20, 19, 0.5) 100%);
  }

  @include desktop-lg {
    clip-path: polygon(
      0 0,
      0 100%,
      100% 100%,
      100% 0,
      calc(10% + $frame-width) 0,
      calc(10% + $frame-width) $frame-height,
      10% $frame-height,
      10% 0
    );
  }

  @include desktop-xxl {
    clip-path: polygon(
      0 0,
      0 100%,
      100% 100%,
      100% 0,
      calc(10% + $frame-width) 0,
      calc(10% + $frame-width) 416px,
      10% 416px,
      10% 0
    );
  }
}
