@import '@/styles/mixins';
@import '@/styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;

  height: 100%;

  @include desktop-lg {
    flex-direction: row;
  }
}

.content {
}

.title {
  color: var(--white, #fff);
  font-family: $font-cormorant-unicase;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 0.8;
  text-transform: capitalize;

  @include tablet {
    font-size: 3.75rem;
  }

  @include desktop-lg {
    font-size: 5rem;
    letter-spacing: -0.01em;
  }

  @include desktop-xl {
    font-size: 7.5rem;
  }
}
